<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <app-collapsible-section [sectionTitle]="'Current Championships'" [isOpen]="currentChampionshipsOpen"  (toggle)="currentChampionshipsOpen = !currentChampionshipsOpen">
                    <app-championship  [criteria]="this.criteria.criteriaStarted()" [isCreation]="true" [isExpandible]="false" (selected)=onSelectedChampionship($event)></app-championship>
                </app-collapsible-section>
            </div>
            <div class="card">
                <app-collapsible-section [sectionTitle]="'Upcoming Championships'" [isOpen]="upcomingChampionshipsOpen"  (toggle)="upcomingChampionshipsOpen = !upcomingChampionshipsOpen">
                    <app-championship  [criteria]="this.criteria" [isCreation]="true" [isExpandible]="false" (selected)=onSelectedChampionship($event)></app-championship>
                </app-collapsible-section>
            </div>
            <div class="card">
                <app-collapsible-section [sectionTitle]="'Past Championships'" [isOpen]="pastChampionshipsOpen" (toggle)="pastChampionshipsOpen = !pastChampionshipsOpen">
                    <app-championship  [criteria]="this.criteria.criteriaFinished()" [isCreation]="true" [isExpandible]="false" (selected)=onSelectedChampionship($event)></app-championship>
                </app-collapsible-section>
            </div>
            <div class="card" *ngIf="appContext.isAdmin()">
                <app-collapsible-section [sectionTitle]="'Disabled'" [isOpen]="disabledChampionshipsOpen" (toggle)="disabledChampionshipsOpen = !disabledChampionshipsOpen">
                        <app-championship  [criteria]="this.criteria.criteriaDisabled()" [isCreation]="true" [isExpandible]="false" (selected)=onSelectedChampionship($event)></app-championship>
                </app-collapsible-section>
            </div>
        </div>
    </div>
</div>
