<table class="table" style="text-align: center; overflow-y: auto; max-height: 400px">
    <ng-container>
        <thead class=" text-primary">
            <th class="teamHeader">TEAM</th>
            <th class="lapHeader">LAP</th>
            <th class="sectorHeader">SECTOR</th>
            <th class="timeHeader">TIME</th>
            <th class="descriptionHeader">DESCRIPTION</th>
        </thead>
        <ng-container *ngFor="let gridRace of gridRace; let i = index">
            <ng-container *ngFor="let sanction of gridRace.sanctionDTOList">
            <tbody>
                <tr [ngClass]="{'selected': isGridRaceForLoggedUser(gridRace)}">
                    <td class="posColumn" style="text-align: left">Team name</td>
                    <td class="lapColumn" style="text-align: left">{{sanction.lap}}</td>
                    <td class="sectorColumn" style="text-align: left">{{sanction.sector}}</td>
                    <td class="timeColumn" style="text-align: left">{{sanction.time}}</td>
                    <td class="descriptionColumn" style="text-align: left">{{sanction.description}}</td>
            </tbody>
            </ng-container>
        </ng-container>
    </ng-container>
</table>


