<table class="table" style="text-align: center; overflow-y: auto; max-height: 400px">
    <div *ngIf="!sanctionsList?.length" style="width: 100%; color: #00EBB1">
        <p style="width: 100%;">There are still no results for this race.</p>
    </div>
    <ng-container *ngIf="sanctionsList?.length">
        <thead class=" text-primary">
            <th class="teamHeader">TEAM</th>
            <th class="lapHeader">LAP</th>
            <th class="penaltyHeader">PENALTY</th>
            <th class="reasonHeader">REASON</th>
            <th *ngIf="appContext.isAdmin()" class="inGameHeader">IN GAME</th>
        </thead>
        <ng-container *ngFor="let sanction of sanctionsList; let i = index">
            <tbody>
                <tr [ngClass]="{'selected': isSanctionForLoggedUser(sanction)}">
                    <td class="posColumn" style="text-align: left">{{sanction.grid.teamName}}</td>
                    <td class="lapColumn" style="text-align: left">{{sanction.lap}}</td>
                    <td class="penaltyColumn" style="text-align: left">{{sanction.penalty}}</td>
                    <td class="reasonColumn" style="text-align: left">{{sanction.reason}}</td>
                    <td *ngIf="appContext.isAdmin()" class="inGameColumn" style="text-align: left">
                        <mat-checkbox [checked]="sanction.inGame" [disabled]="true"></mat-checkbox>
                    </td>
            </tbody>
        </ng-container>
    </ng-container>
</table>


