.teamColumn, .teamHeader {
    text-align: left;
}

.lapColumn, .lapHeader {
    text-align: left;
}

.penaltyColumn, .penaltyHeader {
    text-align: left;
}

.reasonColumn, .reasonHeader {
    text-align: left;
}

.inGameHeader, .inGameColumn {
    text-align: left;
}

.selected {
    background-color: #00FFC030;
}

.fasterLap {
    color: purple;
}