.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

tbody {
    display: block;
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody::-webkit-scrollbar {
    display: none;
}

thead, tbody tr {
    display: table;
    width: calc( 100% - 1em );
    table-layout: fixed;/* even columns width , fix width of table too*/
}

thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
