<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="gray" data-image="./assets/img/IML_logo_black2.png">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style=""></div>
    </div>
    <div class="main-panel">
        <app-navbar style="max-width: 5vw"></app-navbar>
        <router-outlet style="max-height: 90vh;"></router-outlet>
        <app-footer style="max-height: 10vh;"></app-footer>
    </div>
    <div class="fixed-plugin">
</div>
</div>
