<!DOCTYPE html>
<html>
<body>
<div class="testbox">
        <form id="championshipForm" (ngSubmit)="onSubmit()" [formGroup]="championshipForm">
        <div class="banner">
            <h1>Create new Championship</h1>
        </div>
        <div class="item">
            <div class="name-item">
                <div>
                    <label for="name">Name</label>
                    <input id="name" type="text" [(ngModel)]="championship.name" formControlName="name" placeholder="New Championship"/>
                </div>
                <div>
                    <label for="startDate">Starting Date</label>
                    <input id="startDate" type="datetime-local" [(ngModel)]="championship.startDate" formControlName="startDate"/>
                </div>
            </div>
        </div>
        <div class="item">
                    <label for="description">Description</label>
                    <input id="description" type="text" [(ngModel)]="championship.description" formControlName="description" placeholder="New Description"/>
        </div>
        <div class="item">
            <div class="name-item">
                <div>
                    <label for="password">Password</label>
                    <input id="password" type="text" [(ngModel)]="championship.password" formControlName="password" placeholder="Password"/>
                </div>
                <div>
                    <label for="spectator-password">Spectator Password</label>
                    <input id="spectator-password" type="text" [(ngModel)]="championship.spectatorPassword" formControlName="spectatorPassword" placeholder="Spectator Password"/>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="name-item">
                <div>
                    <label for="admin-password">Admin Password</label>
                    <input id="admin-password" type="text" [(ngModel)]="championship.adminPassword" formControlName="adminPassword" placeholder="Admin Password"/>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="name-item">
                <div>
                    <label for="track-medals-requirement">Track Medals Requirement</label>
                    <input id="track-medals-requirement" type="number" min="0" max="3" pattern="[0-3]"
                           [(ngModel)]="championship.trackMedalsRequirement" formControlName="trackMedalsRequirement"/>
                </div>
                <div>
                    <label for="safety-rating-requirement">Safety Rating Requirement</label>
                    <input id="safety-rating-requirement" type="number" min="-1" max="99" pattern="[-1-99]"
                           [(ngModel)]="championship.safetyRatingRequirement" formControlName="safetyRatingRequirement"/>
                </div>
                <div>
                    <label for="racecraft-rating-requirement">Racecraft Rating Requirement</label>
                    <input id="racecraft-rating-requirement" type="number" min="-1" max="99" pattern="[-1-99]"
                           [(ngModel)]="championship.racecraftRatingRequirement" formControlName="racecraftRatingRequirement"/>
                </div>
                <div>
                    <label for="car-group">Car Group</label>
                    <select id="car-group" class="custom-select" [(ngModel)]="championship.carGroup" formControlName="carGroup">
                        <option value="FreeForAll">Free for all</option>
                        <option value="GT3">GT3</option>
                        <option value="GT4">GT4</option>
                        <option value="GTC">GTC</option>
                        <option value="TCX">TCX</option>
                    </select>
                </div>
                <div>
                    <label for="max-car-slots">Max Car Slots</label>
                    <input id="max-car-slots" type="number" [(ngModel)]="championship.maxCarSlots" formControlName="maxCarSlots"/>
                </div>
                <div>
                    <label for="dump-leaderboards">Dump Leaderboards</label>
                    <input id="dump-leaderboards" type="number" min="0" max="1" pattern="[0-1]"
                           [(ngModel)]="championship.dumpLeaderboards" formControlName="dumpLeaderboards"/>
                </div>
                <div>
                    <label for="is-race-locked">Is Race Locked</label>
                    <input id="is-race-locked" type="number" min="0" max="1" pattern="[0-1]"
                           [(ngModel)]="championship.isRaceLocked" formControlName="isRaceLocked"/>
                </div>
                <div>
                    <label for="randomize-track-when-empty">Randomize Track When Empty</label>
                    <input id="randomize-track-when-empty" type="number" min="0" max="1" pattern="[0-1]"
                           [(ngModel)]="championship.randomizeTrackWhenEmpty" formControlName="randomizeTrackWhenEmpty"/>
                </div>
                <div>
                    <label for="allow-auto-dq">Allow Auto DQ</label>
                    <input id="allow-auto-dq" type="number" min="0" max="1" pattern="[0-1]"
                           [(ngModel)]="championship.allowAutoDQ" formControlName="allowAutoDQ"/>
                </div>
                <div>
                    <label for="short-formation-lap">Short Formation Lap</label>
                    <input id="short-formation-lap" type="number" min="0" max="1" pattern="[0-1]"
                           [(ngModel)]="championship.shortFormationLap" formControlName="shortFormationLap"/>
                </div>
                <div>
                    <label for="dump-entry-list">Dump Entry List</label>
                    <input id="dump-entry-list" type="number" min="0" max="1" pattern="[0-1]"
                           [(ngModel)]="championship.dumpEntryList" formControlName="dumpEntryList"/>
                </div>
                <div>
                    <label for="ignore-premature-disconnects">Ignore Premature Disconnects</label>
                    <input id="ignore-premature-disconnects" type="number" min="0" max="1" pattern="[0-1]"
                           [(ngModel)]="championship.ignorePrematureDisconnects" formControlName="ignorePrematureDisconnects"/>
                </div>
                <div>
                    <label for="formation-lap-type">Formation Lap Type</label>
                    <select id="formation-lap-type" class="custom-select" [(ngModel)]="championship.formationLapType" formControlName="formationLapType">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div>
                    <label for="central-entry-list-path">Central Entry List Path</label>
                    <input id="central-entry-list-path" type="text"
                           [(ngModel)]="championship.centralEntryListPath" formControlName="centralEntryListPath"/>
                </div>
            </div>
        </div>
        <div class="item">
            <label for="imageContent">Upload Picture</label>
            <input id="imageContent" type="file" [(ngModel)]="championship.imageContent" formControlName="imageContent"/>
        </div>
        <div class="btn-block">
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
