<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">New Championship</h4>
                        <p class="card-category">Create a new championship</p>
                    </div>
                    <div class="card-body">
                        <div class="testbox">
                            <form id="championshipForm" (ngSubmit)="onSubmit()" [formGroup]="championshipForm">
                                <div class="col-md-4">
                                </div>
                                <div class="item">
                                    <div class="name-item">
                                        <div>
                                            <mat-form-field class="white-input">
                                            <mat-label>Name</mat-label>
                                            <input matInput  formControlName="name" placeholder="New Championship"/>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.name.invalid)">Name error</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="white-input" (click)="showPicker()">
                                                <mat-label>Starting Date</mat-label>
                                                <input matInput type="datetime-local" formControlName="startDate" id="datePicker"/>
                                                <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.startDate.errors)">Starting Date Error</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <mat-form-field class="white-input">
                                            <mat-label>Championship Type</mat-label>
                                            <mat-select formControlName="style">
                                                <mat-option value="SOLO">Solo</mat-option>
                                                <mat-option value="TEAM-SOLO">Team-Solo</mat-option>
                                                <mat-option value="TEAM">Team</mat-option>
                                            </mat-select>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.style.errors)">Style Error</mat-error>
                                        </mat-form-field>
                                    </div>
                                <div class="item">
                                        <mat-form-field class="white-input">
                                        <mat-label>Description</mat-label>
                                        <input matInput formControlName="description" placeholder="New Description"/>
                                        <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.description.errors)">Description Error</mat-error>
                                        </mat-form-field>
                                </div>
                                <div class="item">
                                    <div class="name-item">
                                        <div>
                                            <mat-form-field class="white-input">
                                            <mat-label>Password</mat-label>
                                            <input matInput formControlName="password" placeholder="Password"/>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.password.errors)">Password Error</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="white-input">
                                            <mat-label>Spectator Password</mat-label>
                                            <input matInput formControlName="spectatorPassword" placeholder="Spectator Password"/>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.spectatorPassword.errors)">Spectator Password Error</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="name-item">
                                        <div>
                                            <mat-form-field class="white-input">
                                            <mat-label >Admin Password</mat-label>
                                            <input matInput formControlName="adminPassword" placeholder="Admin Password"/>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.adminPassword.errors)">Admin Password Error</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="name-item">
                                        <div>
                                            <mat-form-field class="white-input">
                                            <mat-label>Track Medals Requirement</mat-label>
                                            <input matInput formControlName="trackMedalsRequirement"/>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.trackMedalsRequirement.errors)">Track Medals Requirement Error</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="white-input">
                                            <mat-label>Safety Rating Requirement</mat-label>
                                            <input matInput formControlName="safetyRatingRequirement"/>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.safetyRatingRequirement.errors)">Safety Rating Requirement Error</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="white-input">
                                            <mat-label>Racecraft Rating Requirement</mat-label>
                                            <input matInput formControlName="racecraftRatingRequirement"/>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.racecraftRatingRequirement.errors)">Racecraft Rating Requirement Error</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="white-input">
                                            <mat-label>Car Group</mat-label>
                                            <mat-select formControlName="carGroup">
                                                <mat-option value="Free for all">Free for all</mat-option>
                                                <mat-option value="GT3">GT3</mat-option>
                                                <mat-option value="GT4">GT4</mat-option>
                                                <mat-option value="GTC">GTC</mat-option>
                                                <mat-option value="TCX">TCX</mat-option>
                                            </mat-select>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.carGroup.errors)">Car Group Error</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="white-input">
                                            <mat-label>Max Car Slots</mat-label>
                                            <input matInput formControlName="maxCarSlots"/>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.maxCarSlots.errors)">Max Car Slots Error</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="white-input">
                                                <mat-label>Formation Lap Type</mat-label>
                                                <mat-select formControlName="formationLapType">
                                                    <mat-option value="0">0</mat-option>
                                                    <mat-option value="1">1</mat-option>
                                                    <mat-option value="3">3</mat-option>
                                                </mat-select>
                                                <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.formationLapType.errors)">Formation Lap Type Error</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="checkbox-container">
                                        <div class="checkbox-group align-right">
                                            <mat-checkbox formControlName="isRaceLocked">Is Race Locked</mat-checkbox>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.isRaceLocked.errors)">Is Race Locked Error</mat-error>
                                        </div>
                                            <div class="checkbox-container">
                                            <div class="checkbox-group">
                                                <mat-checkbox formControlName="shortFormationLap">Short Formation Lap</mat-checkbox>
                                                <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.shortFormationLap.errors)">Short Formation Lap Error</mat-error>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="checkbox-container">
                                        <div class="checkbox-group">
                                            <mat-checkbox formControlName="randomizeTrackWhenEmpty">Randomize Track When Empty</mat-checkbox>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.randomizeTrackWhenEmpty.errors)">Randomize Track When Empty Error</mat-error>
                                        </div>
                                        <div class="checkbox-group align-right">
                                            <mat-checkbox  formControlName="allowAutoDq">Allow Auto DQ</mat-checkbox>
                                            <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.allowAutoDq.errors)">Allow Auto DQ Error</mat-error>
                                        </div>
                                        </div>


                                        <div class="checkbox-container">
                                            <div class="checkbox-group">
                                                <mat-checkbox  formControlName="ignorePrematureDisconnects">Ignore Premature Disconnects</mat-checkbox>
                                                <mat-error [hidden]="!(championshipFormSubmitted && championshipForm.controls.ignorePrematureDisconnects.errors)">Ignore Premature Disconnects Error</mat-error>
                                            </div>
                                        </div>

                                        <div style="padding-top: 15px">
                                            <mat-label>Championship Status</mat-label>
                                            <div class="checkbox-container">
                                                <mat-checkbox style="margin-left: 15px;" formControlName="disabled" checked="true">Disabled</mat-checkbox>
                                                <mat-checkbox style="margin-left: 15px;" formControlName="started">Started</mat-checkbox>
                                                <mat-checkbox style="margin-left: 15px;" formControlName="finished">Finished</mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <br>
                                <div class="item">
                                    <ng-container *ngIf="imageSrc">
                                        <div class="card-header card-header-success" style="max-width: 360px; max-height: 270px; overflow: hidden; aspect-ratio: auto 4 / 3;">
                                            <img [src]="imageSrc" alt="Current Picture" style="width: 100%; height: 100%; object-fit: cover;">
                                        </div>
                                    </ng-container>
                                    <br>
                                    <div>
                                        <div>
                                            <input type="file" (change)="onFileSelected($event)" id="fileInput" accept="image/*" />
                                            <mat-label [hidden]="!(championshipFormSubmitted && championshipForm.controls.imageContent.errors)">Image Error</mat-label>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-block">
                                    <button id="submit" type="submit" class="btn btn-primary myButton">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<swal
    #requestSuccessSwal
    title=""
    text=""
    type="success"
    confirmButtonText="{{'swal-confirm' | translate}}"    confirmButtonColor="#15B1B0"
    cancelButtonText="{{'swal-cancel' | translate}}"
    timer=2000>
</swal>

<swal
    #requestFailSwal
    title="{{'swal-cancelled.title' | translate}}"
    text="{{'swal-cancelled.text' | translate}}"
    confirmButtonText="{{'swal-confirm' | translate}}"    confirmButtonColor="#15B1B0"
    cancelButtonText="{{'swal-cancel' | translate}}"
    type="error"
    timer=4000>
</swal>
