<div class="card-body">
    <div class="testbox">
        <form id="raceRulesForm" (ngSubmit)="raceRulesSubmit()" [formGroup]="raceRulesForm">
            <h4 style="color: #FF9800"> PIT STOP RULES </h4>
            <br>
            <div class="item">
                <div class="custom-form">
                    <div>
                    <div>
                        <mat-form-field>
                        <mat-label style="color: #00FFC0">Pit Window Length Seconds</mat-label>
                        <input style="color: #999999" matInput formControlName="pitWindowLengthSec"/>
                        <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.pitWindowLengthSec.errors)">Pit Window Length Seconds Error</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                        <mat-label style="color: #00FFC0">Driver Stint Time Seconds</mat-label>
                        <input style="color: #999999" matInput formControlName="driverStintTimeSec"/>
                        <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.driverStintTimeSec.errors)">Driver Stint Time Seconds Error</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                        <mat-label style="color: #00FFC0">Mandatory Pitstop Count</mat-label>
                        <input style="color: #999999" matInput formControlName="mandatoryPitstopCount"/>
                        <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.mandatoryPitstopCount.errors)">Mandatory Pitstop Count Error</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                        <mat-label style="color: #00FFC0">Max Total Driving Time</mat-label>
                        <input style="color: #999999" matInput formControlName="maxTotalDrivingTime"/>
                        <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.maxTotalDrivingTime.errors)">Max Total Driving Time Error</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                        <mat-label style="color: #00FFC0">Max Total Driving Time</mat-label>
                        <input style="color: #999999" matInput formControlName="maxDriversCount"/>
                        <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.maxDriversCount.errors)">Max Drivers Count Error</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label style="color: #00FFC0" formControlName="tyre-set-count">Tyre Set Count</mat-label>
                            <input style="color: #999999" matInput formControlName="tyreSetCount"/>
                            <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.tyreSetCount.errors)">Tyre Set Count Error</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-checkbox formControlName="isRefuellingAllowedInRace">Is Refuelling Allowed In Race</mat-checkbox>
                        <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.isRefuellingAllowedInRace.errors)">Is Refuelling Allowed In Race Error</mat-error>
                    </div>
                    <div>
                        <mat-checkbox formControlName="isRefuellingTimeFixed">Is Refuelling Time Fixed</mat-checkbox>
                        <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.isRefuellingTimeFixed.errors)">Is Refuelling Time Fixed Error</mat-error>
                    </div>
                    <div>
                        <mat-checkbox formControlName="isMandatoryPitstopRefuellingRequired">Is Mandatory Pitstop Refuelling Required</mat-checkbox>
                        <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.isMandatoryPitstopRefuellingRequired.errors)">Is Mandatory Pitstop Refuelling Required Error</mat-error>
                    </div>
                    <div>
                        <mat-checkbox formControlName="isMandatoryPitstopTyreChangeRequired">Is Mandatory Pitstop Tyre Change Required</mat-checkbox>
                        <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.isMandatoryPitstopTyreChangeRequired.errors)">Is Mandatory Pitstop Tyre Change Required Error</mat-error>
                    </div>
                    <div>
                        <mat-checkbox formControlName="isMandatoryPitstopSwapDriverRequired">Is Mandatory Pitstop Swap Driver Required</mat-checkbox>
                        <mat-error [hidden]="!(raceRulesFormSubmitted && raceRulesForm.controls.isMandatoryPitstopSwapDriverRequired.errors)">Is Mandatory Pitstop Swap Driver Required Error</mat-error>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>

<swal
    #requestSuccessSwal
    title=""
    text=""
    type="success"
    confirmButtonText="{{'swal-confirm' | translate}}"    confirmButtonColor="#15B1B0"
    cancelButtonText="{{'swal-cancel' | translate}}"
    timer=2000>
</swal>

<swal
    #requestFailSwal
    title="{{'swal-cancelled.title' | translate}}"
    text="{{'swal-cancelled.text' | translate}}"
    confirmButtonText="{{'swal-confirm' | translate}}"    confirmButtonColor="#15B1B0"
    cancelButtonText="{{'swal-cancel' | translate}}"
    type="error"
    timer=4000>
</swal>
