.selected {
    background-color: #00FFC030;
}
.align-right {
    margin-left: auto;
}

.card-chart:hover {
    box-shadow: 0 0 5px #00ffc0;
    transform: scale(1.01);
}

.card-chart-feedback{
    transition: .5s;
}

::ng-deep .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #3085d6;
    color: black;
    font-size: 1.0625em;
}

::ng-deep .swal2-styled.swal2-cancel {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #aaa;
    color: black;
    font-size: 1.0625em;
}

::ng-deep .swal2-input {
    height: 2.625em;
    padding: 0 .75em;
    color: #00FFC0;
    border: 1px solid #FFFD;
}

::ng-deep .swal2-content {
    z-index: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #FFFD;
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
}

::ng-deep .swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0 0 .4em;
    padding: 0;
    color: #FFFD;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}
