<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">{{ championship.name }}</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="row">
                        <div *ngFor="let race of pagedData()" class="col-md-4">
                            <div class="card card-chart" [class.selected]="selectedRaceId == race.id" (click)="selectRace(race.id)">
                                <div class="card-header card-header-success">
                                    <img [src]="getImage(race.track)" alt="imagen circuito" style="width: 100%; height: auto;">
                                    <div class="ct-chart" id=""></div>
                                </div>
                                <div class="card-body">
                                    <p class="card-category" style="color: #ff9800">{{race.track}}</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i>{{race.startDate| date: 'MMM d, h:mm a'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" [disabled]="this.pageable.page === 0" (click)="previousPage()">Previous</button>
                            <button class="btn btn-primary" [disabled]="this.pageable.page === totalPages -1" (click)="nextPage()">Next</button>

                        </div>
                        <div class="col-md-6 text-right align-self-center">
                            <button class="btn btn-primary">Add Race</button>
                        </div>
                    </div>
                    </div>

            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-danger">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Info:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a mat-button class="nav-link active" href="#standings" data-toggle="tab">
                                        <i class="material-icons">content_paste</i> Standings
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                        <i class="material-icons">code</i> Info
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                        <i class="material-icons">content_paste</i> Results
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="standings">
                            <app-table-list></app-table-list>
                        </div>
                        <div class="tab-pane" id="messages"  *ngIf="selectedRace" style="color: #999999">
                            <app-race-info [selectedRace]="selectedRace" [selectedChampionship]="championship"></app-race-info>
                        </div>
                        <div class="tab-pane" id="settings" *ngIf="selectedRace">
                            <table class="table" style="text-align: center">
                                <thead class=" text-primary">
                                <th>POS</th>
                                <th>NAME</th>
                                <th>CAR</th>
                                <th>BEST TIME</th>
                                <th>POINTS</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td style="text-align: left">Brahyam Agudelo  <img style="height: 15px;" src="assets/flags/es.svg"></td>
                                    <td><img style="height: 30px;" src="assets/car-logo/Lamborghini.png"></td>
                                    <td class="text-primary">2:00:610</td>
                                    <td class="text-primary">18</td>
                                </tr>
                                <tr style="background-color: #00FFC0; color: black">
                                    <td>2</td>
                                    <td style="text-align: left">Abel dos Ramos  <img style="height: 15px;" src="assets/flags/es.svg"></td>
                                    <td><img style="height: 30px;" src="assets/car-logo/Lamborghini.png"></td>
                                    <td class="text-primary">1:54:321</td>
                                    <td class="text-primary">10</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="text-align: left">Dani Santo  <img style="height: 15px;" src="assets/flags/es.svg"></td>
                                    <td><img style="height: 30px;" src="assets/car-logo/Lamborghini.png"></td>
                                    <td class="text-primary" style="color: purple !important;">1:53:321</td>
                                    <td class="text-primary">3(+1)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
