<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">¡WELCOME TO IML!</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="info-content">
                        <div class="info-content-text">
                            <div class="welcome-card-content">
                                <p class="body-text">Somos una comunidad de apasionados al simracing de habla hispana que surge en el año 2022.</p>
                                <p class="body-text">Nuestra visión es la de convertirnos en una marca referente y reconocida en el mundo del simracing, aportando ideas innovadoras y aprovechando toda la experiencia adquirida durante estos años en las competiciones internacionales ofertadas por comunidades de otros países.</p> 
                                <p class="body-text">Apostamos por el trabajo conjunto de todos los miembros, combinando la experiencia y los recursos necesarios para impulsar la competición y el espectáculo en el mundo del simracing.</p>
                                <p class="body-text">Para ello, organizamos campeonatos de forma simultánea durante todo el año, que abarcan una amplia variedad de categorías y niveles, adaptándose a las preferencias y habilidades de cada piloto.</p>
                            </div>
                        </div>
                            <img class="foto-inicio" src="https://drive.google.com/uc?id=1-O4Purzh3CJ1a4lKFb25YLdGPVvGFrXi&export=download" alt="IML Championship" style="object-fit: cover;">    
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Slider</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_score</i>
                            <p>HolaHOlaholahola, hjfdsahjkfadhlfas, fahjfhasfkjashjkfas</p>
                          </div>
                          <div class="swiper-slide">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_score</i>
                            <p>HolaHOlaholahola, hjfdsahjkfadhlfas, fahjfhasfkjashjkfas</p>
                          </div>
                          <div class="swiper-slide">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_score</i>
                            <p>HolaHOlaholahola, hjfdsahjkfadhlfas, fahjfhasfkjashjkfas</p>
                          </div>
                          <div class="swiper-slide">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_score</i>
                            <p>HolaHOlaholahola, hjfdsahjkfadhlfas, fahjfhasfkjashjkfas</p>
                          </div>
                          <div class="swiper-slide">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_score</i>
                            <p>HolaHOlaholahola, hjfdsahjkfadhlfas, fahjfhasfkjashjkfas</p>
                          </div>
                          <div class="swiper-slide">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_score</i>
                            <p>HolaHOlaholahola, hjfdsahjkfadhlfas, fahjfhasfkjashjkfas</p>
                          </div>
                          <div class="swiper-slide">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_score</i>
                            <p>HolaHOlaholahola, hjfdsahjkfadhlfas, fahjfhasfkjashjkfas</p>
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
                    <div>  

                </div>
            </div>
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">OBJETIVOS</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="objectives-card">
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">public</i>
                            <div></div>
                            <p>Ofrecer todos los pilotos hispanohablantes un sitio donde competir.</p>
                        </div>
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_score</i>
                            <div></div>
                            <p>Organizar competiciones con el más alto nivel y hacer a los pilotos sentir la emoción de una competición real </p>
                        </div>
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_esports</i>
                            <div></div>
                            <p>Crear un sitio donde la gente pueda divertirse y compartir su pasión por los videojuegos del motor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>

