<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">¡BIENVENIDO A IML!</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="info-content">
                        <div class="info-content-text" style="margin-left: auto;">
                            <div class="welcome-card-content">
                                <p class="body-text">Somos una comunidad de <span class="important-text">apasionados al simracing</span> de habla hispana que surge en el <span class="important-text">año 2022</span>.</p>
                                <p class="body-text">Nuestra visión es la de convertirnos en una marca <span class="important-text">referente y reconocida</span> en el mundo del simracing.</p> 
                                <p class="body-text">Apostamos por el trabajo conjunto de todos los miembros, combinando la experiencia y los recursos necesarios para <span class="important-text">impulsar la competición</span> y el espectáculo en el mundo del simracing.</p>
                                <p class="body-text">Organizamos campeonatos de forma simultánea durante <span class="important-text">todo el año</span>, que abarcan una amplia variedad de categorías y niveles.</p>
                            </div>
                        </div>
                            <img class="foto-inicio" src="../../../assets/img/iml_info_pic.webp" alt="IML Championship" style="object-fit: cover; max-width: 720px; margin-right: auto;">    
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">NUESTROS OBJETIVOS</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="objectives-card">
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">public</i>
                            <div></div>
                            <p>Ofrecer todos los pilotos hispanohablantes un sitio donde competir.</p>
                        </div>
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_score</i>
                            <div></div>
                            <p>Organizar competiciones con el más alto nivel y hacer a los pilotos sentir la emoción de una competición real </p>
                        </div>
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_esports</i>
                            <div></div>
                            <p>Crear un sitio donde la gente pueda divertirse y compartir su pasión por los videojuegos del motor.</p>
                        </div>
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">emoji_people</i>
                            <div></div>
                            <p>Dar la posibilidad a los nuevos pilotos de introducirse en el mundo del simracing disfrutando y aprendiendo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--A PARTIR DE AQUI IML ESPORTS https://drive.google.com/uc?id=1EVqkX5q_Ba6F6TXNAiNLAb4XpmFm2izr&export=download https://drive.google.com/uc?id=10IViBh_pN6v7CmW2IFY7hHO8ArBYLsMm&export=download -->
        </div>       
    </div>
</div>
<div class="custom-cursor"></div>