<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">¡BIENVENIDO A IML!</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="info-content">
                        <div class="info-content-text">
                            <div class="welcome-card-content">
                                <p class="body-text">Somos una comunidad de <span class="important-text">apasionados al simracing</span> de habla hispana que surge en el <span class="important-text">año 2022</span>.</p>
                                <p class="body-text">Nuestra visión es la de convertirnos en una marca <span class="important-text">referente y reconocida</span> en el mundo del simracing.</p> 
                                <p class="body-text">Apostamos por el trabajo conjunto de todos los miembros, combinando la experiencia y los recursos necesarios para <span class="important-text">impulsar la competición</span> y el espectáculo en el mundo del simracing.</p>
                                <p class="body-text">Organizamos campeonatos de forma simultánea durante <span class="important-text">todo el año</span>, que abarcan una amplia variedad de categorías y niveles.</p>
                            </div>
                        </div>
                            <img class="foto-inicio" src="../../../assets/img/iml_info_pic.webp" alt="IML Championship" style="object-fit: cover;">    
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">NUESTROS OBJETIVOS</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="objectives-card">
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">public</i>
                            <div></div>
                            <p>Ofrecer todos los pilotos hispanohablantes un sitio donde competir.</p>
                        </div>
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_score</i>
                            <div></div>
                            <p>Organizar competiciones con el más alto nivel y hacer a los pilotos sentir la emoción de una competición real </p>
                        </div>
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">sports_esports</i>
                            <div></div>
                            <p>Crear un sitio donde la gente pueda divertirse y compartir su pasión por los videojuegos del motor.</p>
                        </div>
                        <div class="objectives-card-content">
                            <i _ngcontent-itb-c50="" class="material-icons">emoji_people</i>
                            <div></div>
                            <p>Dar la posibilidad a los nuevos pilotos de introducirse en el mundo del simracing disfrutando y aprendiendo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--A PARTIR DE AQUI IML ESPORTS https://drive.google.com/uc?id=1EVqkX5q_Ba6F6TXNAiNLAb4XpmFm2izr&export=download https://drive.google.com/uc?id=10IViBh_pN6v7CmW2IFY7hHO8ArBYLsMm&export=download -->
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">IML ESPORTS</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="iml-esports-info">
                        <img class="foto-esports" src="../../../assets/img/iml_info.webp" alt="IML Championship" style="object-fit: cover;">    
                        <div class="esports-info-content">
                                <div class="welcome-card-content">
                                    <p class="body-text">Fundado en 2023 nuestro equipo de esports aspira a correr al más alto nivel</p>
                                    <p class="body-text">Actualmente el equipo tiene como principales simuladores tanto iRacing como Assetto Corsa Competizione</p>
                                    <p class="body-text">En nuestra sección Academy los pilotos menos expertos podrán aprender y crecer junto a nosotros.</p>
                                </div>
                            <div class="text-carousel">
                                <button class="button left" (click)="showPrev()"><i _ngcontent-itb-c50="" class="material-icons">arrow_back</i></button>
                                    <div class="container-stats screen" *ngIf="information[currentIndex].type === 'screen1'" [@inOutAnimation]>
                                        <div class="stat-wrapper">
                                            <p class="stats-value">+15</p>
                                            <p class="stats-description">Pilotos</p>
                                        </div>
                                        <div class="stat-wrapper">
                                            <p class="stats-value">+4</p>
                                            <p class="stats-description">Nacionalidades</p>
                                        </div>
                                        <div class="stat-wrapper">
                                            <p class="stats-value">2</p>
                                            <p class="stats-description">Ingenireos</p>
                                        </div>
                                        <div class="stat-wrapper">
                                        <p class="stats-value">3</p>
                                        <p class="stats-description">Simuladores</p>
                                        </div>
                                        <div class="stat-wrapper">
                                        <p class="stats-value">+10</p>
                                        <p class="stats-description">Pilotos (Academy)</p>
                                        </div>
                                        <div class="stat-wrapper">
                                        <p class="stats-value">+20</p>
                                        <p class="stats-description">Competiciones</p>
                                        </div>
                                    </div>
                                    <div class="container-esports-members screen" *ngIf="information[currentIndex].type === 'screen2'" [@inOutAnimation]>
                                        <p class="members-text">El equipo cuenta con los siguientes miembros</p>
                                        <ul class="members-grid">
                                            <li class="nombrecito">D. Santo</li>
                                            <li class="nombrecito">J. Sardiñas</li>
                                            <li class="nombrecito">C. Plaza</li>
                                            <li class="nombrecito">V. Martín</li>
                                            <li class="nombrecito">P. Cortel</li>
                                            <li class="nombrecito">A. Cespedes</li>
                                            <li class="nombrecito">G. Valencia</li>
                                            <li class="nombrecito">J. Gonzalez</li>
                                            <li class="nombrecito">O. Relaño</li>
                                            <li class="nombrecito">A. Dos Ramos</li>
                                            <li class="nombrecito">B. Agudelo</li>
                                            <li class="nombrecito">D. Suarez</li>
                                            <li class="nombrecito">J. Esteban</li>
                                            <li class="nombrecito">S. Acosta</li>
                                            <li class="nombrecito">A. Carrasco</li>
                                        </ul>
                                    </div>
                                    <div class ="container-esports-academy screen" *ngIf="information[currentIndex].type === 'screen3'" [@inOutAnimation]>
                                        <p class="academy-text">Nuestra academy</p>
                                        <div class="academy-objectives">
                                            <div class="academy-container">
                                                    <i _ngcontent-itb-c50="" class="material-icons">timeline</i>
                                                    <p>Sirve de pasarerla para los nuevos pilotos hacia las competiciones de más alto nivel.</p>
                                            </div>
                                            <div class="academy-container">
                                                    <i _ngcontent-itb-c50="" class="material-icons">tips_and_updates</i>
                                                    <p>Ayuda a formar y a entrenar a pilotos más novatos con ganas de aprender.</p>
                                            </div>
                                        </div>
                                    </div>
                                <button class="button right" (click)="showNext()"><i _ngcontent-itb-c50="" class="material-icons">arrow_forward</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
<div class="custom-cursor"></div>