<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form (ngSubmit)="onSubmit()" [formGroup]="profileForm" >
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field>
                                    <input id="steamId" style="color: #999999" matInput placeholder="SteamId" [(ngModel)]="user.steamId" formControlName="steamId" readonly>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field>
                                    <input style="color: #999999" matInput placeholder="First Name"  [(ngModel)]="user.firstName" formControlName="firstName" type="text">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field>
                                      <input style="color: #999999" matInput placeholder="Last Name" [(ngModel)]="user.lastName" formControlName="lastName" type="text">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field>
                                  <input style="color: #999999" matInput placeholder="shortName" [(ngModel)]="user.shortName" formControlName="shortName" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field>
                                  <input style="color: #999999" matInput placeholder="Nationality" [(ngModel)]="user.nationality" formControlName="nationality" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" style="color: black" class="btn btn-primary pull-right">Update Profile</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
