.selected {
    background-color: #00FFC030;
}
.align-right {
    margin-left: auto;
}
.tab-pane {
    overflow: auto;
}
.card-chart:hover {
    box-shadow: 0 0 5px #00ffc0;
    transform: scale(1.01);
}

.card-chart-feedback{
    transition: .5s;
}
