.posColumn, .posHeader {
    text-align: left;
}

.nameColumn, .nameHeader {
    text-align: left;
}

.carColumn, .carHeader {
    text-align: left;
}

.categoryHeader, .categoryColumn {
    text-align: left;
}

.pointsColumn, .pointsHeader {
    text-align: left;
}
.selected {
    background-color: #00FFC030;
}
.posColumn, .posHeader {
    text-align: left;
}

.nameColumn, .nameHeader {
    text-align: left;
}

.carColumn, .carHeader {
    text-align: left;
}

.pointsColumn, .pointsHeader {
    text-align: left;
}
.selected {
    background-color: #00FFC030;
}
.posColumn, .posHeader {
    text-align: left;
}

.nameColumn, .nameHeader {
    text-align: left;
}

.carColumn, .carHeader {
    text-align: left;
}

.pointsColumn, .pointsHeader {
    text-align: left;
}
.selected {
    background-color: #00FFC030;
}
.posColumn, .posHeader {
    text-align: left;
}

.nameColumn, .nameHeader {
    text-align: left;
}

.carColumn, .carHeader {
    text-align: left;
}

.pointsColumn, .pointsHeader {
    text-align: left;
}
.selected {
    background-color: #00FFC030;
}
.posColumn, .posHeader {
    text-align: left;
}

.nameColumn, .nameHeader {
    text-align: left;
}

.carColumn, .carHeader {
    text-align: left;
}

.pointsColumn, .pointsHeader {
    text-align: left;
}
.selected {
    background-color: #00FFC030;
}
.posColumn, .posHeader {
    text-align: left;
}

.nameColumn, .nameHeader {
    text-align: left;
}

.carColumn, .carHeader {
    text-align: left;
}

.pointsColumn, .pointsHeader {
    text-align: left;
}
.selected {
    background-color: #00FFC030;
}

.small-toggle {
    font-size: 10px;
    padding: 1px 1px;
    background-color: #00FFC0;
    color: black;
}

.small-toggle.mat-button-toggle-checked {
    background-color: #00EBB3;
}

.custom-swal {
    color: white !important;
}

::ng-deep .mat-ink-bar {
    background-color: #00FFC0 !important;
    color: #00FFC0 !important;
}

::ng-deep .mat-tab-group .mat-tab-label .mat-tab-label-content {
    color: #999999;
}

::ng-deep .mat-tab-group .mat-tab-label.mat-tab-label-active .mat-tab-label-content {
    color: #00FFC0 !important;
}

::ng-deep .mat-tooltip {
    background-color: #333333;
    color: #999999;
    font-family: raceSport;
    font-size: 14px;
}

