.sidebar-wrapper{
    background-color: dimgray;
}

@font-face {
    font-family: raceSport;
    src: url(assets/font/raceSport.ttf) format("opentype");
}

.custom-swal {
    color: white !important;
}

.custom-swal-content {
    color: white !important;
}

.custom-swal-popup {
    color: white !important;
}
