
        <ul class="nav">
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" href="https://discord.gg/efmrRFX3Xs" target="_blank">
                    <img src="././assets/img/discord.png" alt="Discord" style="height: 30px;">
                    &nbsp;<span>Discord</span>
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/channel/UC6CPbuWLI_nriNocJKRc10A?sub_confirmation=1" target="_blank">
                    <img src="././assets/img/youtube.png" alt="Youtube" style="height: 30px;">
                    &nbsp;<span>Youtube</span>
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" href="https://www.twitch.tv/iberianmotoresportleague" target="_blank">
                    <img src="././assets/img/twitch.png" alt="Twitch" style="height: 30px;">
                    &nbsp;<span>Twitch</span>
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/iberianmotoresportleague/" target="_blank">
                    <img src="././assets/img/insta.png" alt="Instagram" style="height: 30px;">
                    &nbsp;<span>Instagram</span>
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" href="https://twitter.com/IberianMLeague" target="_blank">
                    <img src="././assets/img/x.png" alt="X" style="height: 30px;">
                    &nbsp;<span>Twitter</span>
                </a>
            </li>
        </ul>
