<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        Iberian Motorsport
                    </a>
                </li>
                <li>
                    <a href="">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="">
                        Partners
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
