<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <p>
                        Iberian Motorsport League
                    </p>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC6CPbuWLI_nriNocJKRc10A?sub_confirmation=1" target="_blank">
                        <img src="././assets/img/youtube.png" alt="Youtube" style="height: 60px; object-fit: cover;">
                    </a>
                <li>
                    <a href="https://www.instagram.com/iberianmotoresportsleague/" target="_blank">
                        <img src="././assets/img/insta.png" alt="Instagram" style="height: 50px; object-fit: cover;">
                    </a>
                </li>
                <li>
                    <a href="https://discord.gg/efmrRFX3Xs" target="_blank">
                        <img src="././assets/img/discord.png" alt="Discord" style="height: 50px; object-fit: cover;">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/IberianMLeague" target="_blank">
                        <img src="././assets/img/x.png" alt="X" style="height: 50px; object-fit: cover;">
                    </a>
                </li>
                <li>
                    <a href="https://www.twitch.tv/iberianmotoresportleague" target="_blank">
                        <img src="././assets/img/twitch.png" alt="Twitch" style="height: 50px; object-fit: cover;">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
