<div class="card-body table-responsive">
    <div class="row">
        <div class="col-md-4" *ngFor="let championship of championships">
            <div class="card card-chart" style="flex: 1 1 300px; max-width: 400px;" [class.selected]="selectedChampionship?.id == championship.id" (click)="selectChampionship(championship)">
                <div class="card-header card-header-success" style="max-width: 360px; max-height: 270px; overflow: hidden; aspect-ratio: auto 4 / 3;">
                    <img [src]="championship.imageContent" alt="jojojo" style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="color: #ff9800">{{championship.name}}</h4>
                    <p class="card-category">{{championship.description}}&nbsp;&nbsp;|&nbsp;&nbsp;{{championship.style}}</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i>
                        <span *ngIf="championship.nextRace">
                                            {{championship.nextRace.startDate | date: 'MMM d, h a'}}
                                        </span>
                        <span *ngIf="!championship.nextRace">
                                            TO BE ANNOUNCED
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary" style="color: black" (click)="goToPreviousPage()" [disabled]="this.pageable.page === 0">Previous</button>
        <button class="btn btn-primary" style="color: black" (click)="goToNextPage()" [disabled]="this.pageable.page === totalPages">Next</button>
    </div>
    <div *ngIf="isCreation" class="col-md-6 text-right align-self-center">
        <button class="btn btn-primary" style="color: black" (click)="createNewChampionship()">Add Championship</button>
    </div>
</div>
