<div class="card-body table-responsive slide-animation" style="padding: 0 15px; margin-top: -15px;">
    <div class="row" style="height: 40vh; max-height: 485px; overflow-y: auto;" *ngIf="championships?.length > 0">
        <div *ngFor="let championship of championships" style="padding: 0 15px;">
            <div class="card card-chart card-chart-feedback" style="flex: 1 1 300px; max-width: 400px;" [class.selected]="selectedChampionship?.id == championship.id" (click)="selectChampionship(championship)">
                <div class="card-header card-header-success" style="max-width: 360px; max-height: 270px; overflow: hidden; aspect-ratio: auto 4 / 3; padding: 5px;">
                    <img [src]="championship.imageContent" alt="IML Championship" style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body" style="overflow-y: hidden !important;">
                    <h4 class="card-title" style="color: #ff9800; position: relative; z-index: 1;">
                        {{championship.name}}
                        <span *ngIf="championship.isLoggedUserInChampionship && isCreation == true" class="icon-container">
                            <mat-icon style="color: #00FFC0; position: absolute; float: right; margin-left: 10px">check_circle</mat-icon>
                        </span>
                    </h4>
                    <p class="card-category">{{championship.description}}&nbsp;&nbsp;|&nbsp;&nbsp;{{championship.style}}</p>
                    <p class="card-category">
                        <span>{{championship.carGroup}}</span>
                        <span *ngIf="championship.subCarGroup">&nbsp;&nbsp;|&nbsp;&nbsp;{{championship.subCarGroup}}</span>
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i>
                        <span *ngIf="championship.nextRace">
                                            {{championship.nextRace.startDate | date: 'MMM d, h:mm a'}}
                                        </span>
                        <span *ngIf="!championship.nextRace">
                                            TO BE ANNOUNCED
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3" [hidden]="this.pageable.page === 0 && (this.pageable.page === totalPages || totalPages === -1)">
        <button class="btn btn-primary" style="color: black" (click)="goToPreviousPage()" [disabled]="this.pageable.page === 0">Previous</button>
        <button class="btn btn-primary" style="color: black" (click)="goToNextPage()" [disabled]="this.pageable.page === totalPages || totalPages <= 0">Next</button>
    </div>
    <div class="col-md-3" *ngIf="isCreation && this.appContext.isAdmin()">
        <button class="btn btn-primary" style="color: black" (click)="createNewChampionship()">Add Championship</button>
    </div>
</div>
