/* You can add global styles to this file, and also import other style files */

body {
    background-color: #000000;
}

.custom-swal {
    color: white !important;
}

.custom-swal-container {
    color: white;
}

.custom-swal-popup {
    color: white
}

.custom-swal-content {
    color: white;
}

.swal2-title {
    color: white;
}

.custom-swal-title {
    color: white;
}