<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">IML ESPORTS</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="iml-esports-info">
                        <img class="foto-esports" src="../../../assets/img/iml_info.png" alt="IML Championship" style="max-height: 55vh; max-width: 600px; object-fit: cover;">
                        <div class="esports-info-content">
                                <div class="welcome-card-content">
                                    <p class="body-text">Fundado en 2023 nuestro equipo de esports aspira a correr al más alto nivel</p>
                                    <p class="body-text">Actualmente el equipo tiene como principales simuladores tanto iRacing como Assetto Corsa Competizione</p>
                                    <p class="body-text">En nuestra sección Academy los pilotos menos expertos podrán aprender y crecer junto a nosotros.</p>
                                </div>
                            <div class="text-carousel">
                                <button class="button left" (click)="showPrev()"><i _ngcontent-itb-c50="" class="material-icons">arrow_back</i></button>
                                    <div class="container-stats screen" *ngIf="information[currentIndex].type === 'screen1'" [@inOutAnimation]>
                                        <div class="stat-wrapper">
                                            <p class="stats-value">+15</p>
                                            <p class="stats-description">Pilotos</p>
                                        </div>
                                        <div class="stat-wrapper">
                                            <p class="stats-value">+4</p>
                                            <p class="stats-description">Nacionalidades</p>
                                        </div>
                                        <div class="stat-wrapper">
                                            <p class="stats-value">2</p>
                                            <p class="stats-description">Ingenireos</p>
                                        </div>
                                        <div class="stat-wrapper">
                                        <p class="stats-value">3</p>
                                        <p class="stats-description">Simuladores</p>
                                        </div>
                                        <div class="stat-wrapper">
                                        <p class="stats-value">+10</p>
                                        <p class="stats-description">Pilotos (Academy)</p>
                                        </div>
                                        <div class="stat-wrapper">
                                        <p class="stats-value">+20</p>
                                        <p class="stats-description">Competiciones</p>
                                        </div>
                                    </div>
                                    <div class="container-esports-members screen" *ngIf="information[currentIndex].type === 'screen2'" [@inOutAnimation]>
                                        <p class="members-text">El equipo cuenta con los siguientes miembros</p>
                                        <ul class="members-grid">
                                            <li class="nombrecito">D. Santo</li>
                                            <li class="nombrecito">J. Sardiñas</li>
                                            <li class="nombrecito">C. Plaza</li>
                                            <li class="nombrecito">V. Martín</li>
                                            <li class="nombrecito">P. Cortel</li>
                                            <li class="nombrecito">A. Cespedes</li>
                                            <li class="nombrecito">G. Valencia</li>
                                            <li class="nombrecito">J. Gonzalez</li>
                                            <li class="nombrecito">O. Relaño</li>
                                            <li class="nombrecito">A. Dos Ramos</li>
                                            <li class="nombrecito">B. Agudelo</li>
                                            <li class="nombrecito">D. Suarez</li>
                                            <li class="nombrecito">J. Esteban</li>
                                            <li class="nombrecito">S. Acosta</li>
                                            <li class="nombrecito">A. Carrasco</li>
                                        </ul>
                                    </div>
                                    <div class ="container-esports-academy screen" *ngIf="information[currentIndex].type === 'screen3'" [@inOutAnimation]>
                                        <p class="academy-text">Nuestra academy</p>
                                        <div class="academy-objectives">
                                            <div class="academy-container">
                                                    <i _ngcontent-itb-c50="" class="material-icons">timeline</i>
                                                    <p>Sirve de pasarerla para los nuevos pilotos hacia las competiciones de más alto nivel.</p>
                                            </div>
                                            <div class="academy-container">
                                                    <i _ngcontent-itb-c50="" class="material-icons">tips_and_updates</i>
                                                    <p>Ayuda a formar y a entrenar a pilotos más novatos con ganas de aprender.</p>
                                            </div>
                                        </div>
                                    </div>
                                <button class="button right" (click)="showNext()"><i _ngcontent-itb-c50="" class="material-icons">arrow_forward</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
