.posColumn, .posHeader {
    text-align: left;
}

.nameColumn, .nameHeader {
    text-align: left;
}

.mat-tooltip {
    color: #DDDDDD;
}

.carColumn, .carHeader {
    text-align: left;
}

.pointsColumn, .pointsHeader {
    text-align: left;
}

.timeHeader, .timeColumn {
    text-align: left;
}

.finalTimeHeader {
    text-align: left;
}

.selected {
    background-color: #00FFC030;
}

.fasterLap {
    color: purple;
}

.penalty-text {
    color: red;
    font-size: small;
}


