<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Join Championship</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="testbox">
                    <form id="raceForm" (ngSubmit)="join()" [formGroup]="gridForm">
                        <div class="item">
                            <div class="custom-form">
                                <div>
                                    <mat-form-field>
                                        <mat-label>Team Name</mat-label>
                                        <input style="color: white" matInput formControlName="teamName"/>
                                        <mat-error [hidden]="!(gridSubmitted && gridForm.controls.teamName.errors)">Team Name Error</mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Car Number</mat-label>
                                        <input style="color: white" matInput formControlName="carNumber"/>
                                        <mat-error [hidden]="!(gridSubmitted && gridForm.controls.carNumber.errors)">Car Number Error</mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Car License</mat-label>
                                            <input style="color: white" matInput formControlName="carLicense" [disabled]="!this.appContext.isAdmin()"/>
                                            <mat-error [hidden]="!(gridSubmitted && gridForm.controls.carLicense.errors)">Car License Error</mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Car</mat-label>
                                        <mat-select formControlName="car"  style="color: white">
                                            <mat-option *ngFor="let car of this.championship.carList" [value]="car">
                                                {{car.manufacturer}} - {{car.model}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error [hidden]="!(gridSubmitted && gridForm.controls.car.errors)">Car Error</mat-error>
                                    </mat-form-field>
                                    <div *ngIf="this.appContext.isAdmin()">
                                    <mat-checkbox formControlName="disabled" [checked]="this.grid.disabled">Disabled</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-block">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<swal
    #requestSuccessSwal
    title=""
    text=""
    type="success"
    confirmButtonText="{{'swal-confirm' | translate}}"    confirmButtonColor="#15B1B0"
    cancelButtonText="{{'swal-cancel' | translate}}"
    timer=2000>
</swal>

<swal
    #requestFailSwal
    title="{{'swal-cancelled.title' | translate}}"
    text="{{'swal-cancelled.text' | translate}}"
    confirmButtonText="{{'swal-confirm' | translate}}"    confirmButtonColor="#15B1B0"
    cancelButtonText="{{'swal-cancel' | translate}}"
    type="error"
    timer=4000>
</swal>