<div class="sidebar-wrapper">
    <div class="logo">
        <img style="width: 100%; height: auto; padding-bottom: 20px; padding-top: 20px" src="assets/img/IML_logo_white3.png"/>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <ng-container *ngIf="this.appContext.loadLoggedUser() === menuItem.logged && (this.appContext.isAdmin() === menuItem.adminOnly || !menuItem.adminOnly)">
                <a class="nav-link" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </ng-container>
        </li>
    </ul>
</div>
